.headerTogle {
	display: flex;
	justify-content: flex-end;
	padding: 38px 0px 30px 0px;
	.bodyTogle {
		display: flex;
		flex-direction: row;
		border-radius: 6px;
		background: #F3F4F6;
		padding: 1px;
	}
}




